h1, h2, p{
    color: brown;
    font-family: Arial, sans-serif;
}

body{
  background:linear-gradient(linen, rgb(215, 145, 154)) no-repeat;
  margin: auto;
  padding: 0;
  min-height: 100vh;
  width: 100%;
}

h1{
    color:brown;
    font: bold 36px;
    width: 700px;
}

h2{
    color:brown;
    font: bold 20px;
}

p{
    font: 16px;
}

div{
    margin: 20px;
    padding: 20px;
}

.container{
    margin: auto;
}

button{
    background-color: rgba(165, 42, 42, 0.69);
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
